[submodule "ISM-RELAY"]
	path = ISM-RELAY
	url = git@github.com:daleMelbourne/ISM-RELAY
[submodule "LVIFA_Base"]
	path = LVIFA_Base
	url = git@github.com:daleMelbourne/LVIFA_Base
[submodule "Adafruit-MCP23017-Arduino-Library"]
	path = Adafruit-MCP23017-Arduino-Library
	url = git@github.com:adafruit/Adafruit-MCP23017-Arduino-Library
