[submodule "ISM-RELAY"]
	path = ISM-RELAY
	url = git@github.com:daleMelbourne/ISM-RELAY
[submodule "LVIFA_Base"]
	path = LVIFA_Base
	url = git@github.com:daleMelbourne/LVIFA_Base
[submodule "Mcp23s17Basic"]
	path = Mcp23s17Basic
	url = git@github.com:Mcp23s17Basic
